.header{
    text-align:center;
    color: white;
    background-color: blue;
    padding: 10px;
    margin: 0px;
}

.div1 {
    background-color: green;
    color: white;

}

.div2 {
    text-align:center;
    color: white;
    background-color: Pink;
    width:60%;
}

.div3 {
    text-align:center;
    color: white;
    background-color: rgb(202, 47, 47);
    width:60%;
    height: 60px;
}

.div4 {
    background-color: pink;
    width: 60%;
    height: 10px;         
}

.div5 {
    text-align:center;
    color: white;
    background-color: rgb(202, 47, 47);
    width: 60%;  
    height: 60px;         
}

.div6 {
    background-color: pink;
    width: 60%;
}

.footer{
    text-align:center;
    color: white;
    background-color: green;
    padding: 10px;
    margin: 0px;
}