aside{
  color:white;
  background-color: cyan;
  width:30%;
}

header{
  text-align:center;
  color:white;
  background-color: blue;
  padding: 10px;
}

main{
  width:70%;
}

aside{
  text-align:center;
  float:right;
  height:169px;
}

nav{
  text-align:center;
  color:white;
  background-color:green;
}

.div2{
  text-align:center;
  color:white;
  background-color: pink;
  width:70%;
}

.div3{
  text-align:center;
  color:white;
  background-color:rgb(133, 21, 21);
  height:60px;
}

.div4{
  background-color:pink;
  height: 10px;
}

.div5{
  text-align:center;
  color: white;
  background-color: rgb(133,21,21);
  height:60px;
}

.div6{
  background-color:pink;
  height:20px;
}

footer{
  text-align:center;
  color:white;
  background-color:green;
  padding:10px;
}

